<div class="bgbg">
<div class="row mx-0">
  <div class="col-12 col-md-6 mt-5">
    <h1 class="h1 text-light offset-1 pb-4 mb-2 ml-1 ml-md-3 "> Welcome to schapp </h1>
    <div class="pt-5 mt-5 pt-md-1 mt-md-1 h3 offset-1 mt-2 text-light pb-lg-4 ml-1 ml-md-3"> Learn programming with experienced devs trough live video sessions. </div>
    <div class="pt-5 mt-5 pt-md-1 mt-md-1 h3 offset-1 mt-4 text-light pb-lg-3 ml-1 ml-md-3 "> Get your first session free. </div>
    <a class="btn btn-light mt-4 mb-0 pb-0 offset-1 mt-2 text-strong font-weight-bolds ml-1 ml-md-3" href="/sessions">Start my free session</a>
  </div>
</div>
<div>
</div>

  <div class="mt-4 pt-1">
    <div class="py-4 h4 px-5 mb-0 text-dark bg-light text-center pt-5"> Online school for 11 to 16years </div>
    <img class="img-fluid" src="https://github.com/mkezmkez/tech-me/blob/master/app/assets/images/stack.png?raw=true" />
    </div> 
  </div>
</div>
  </body>
</html>

