.bg-blue {
    background-color: #6610f2
}

.bgbg {
    background-image: url('https://github.com/mkezmkez/tech-me/blob/master/app/assets/images/banne.png?raw=true');
    background-position: 100% 0;
    background-repeat: no-repeat;
}